/*

Zein SAKKOUR

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --h1-font-size: 4.5vw; /* Adjust as needed */
  --h2-font-size: 2.5vw; 
  --white-color:                  #ffffff;
  --primary-color:                #000000;
  --secondary-color:              #1b1954;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #1b1954;
  --custom-btn-bg-hover-color:    #000000;
  --dark-color:                   #000000;
  --p-color:                      #ffffff;
  --border-color:                 #7fffd4;
  --link-hover-color:             #77d2e2;

  --body-font-family:             'Outfit', sans-serif;

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 28px;
  --h4-font-size:                 24px;
  --h5-font-size:                 20px;
  --h6-font-size:                 18px;
  --p-font-size:                  17px;
  --btn-font-size:                14px;
  --copyright-font-size:          16px;

  --border-radius-large:          2px;
  --border-radius-medium:         2px;
  --border-radius-small:          2px;

  --font-weight-light:            400;
  --font-weight-normal:           450;
  --font-weight-bold:             700;

}

body {
  background-image: url('../images/back_blue.png');
  background-repeat: repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
}
/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform .2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset .2s .1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  background-size: cover;
  transform-origin: right center;
  transition: transform .2s .1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .2s;
}

.link-fx-1 .icon line {
  transition: transform .4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  
  
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgba(41, 40, 38, 0.4); 
  padding-top: 100px;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-bg {
  background-color: var(--section-bg-color);
  background-size: cover;
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay + .container {
  position: relative;
}

.tab-content {
  background-color: var(--dark-color);
  border-radius: var(--border-radius-medium);
  background-size: cover;
  padding: 45px;
}

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  background-size: cover;
  border-bottom: 0;
  padding: 0;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 0px 0px;
  transition: all 0.9s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 0px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  background-size: cover;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  color: var(--primary-color);
}

.nav-tabs h5 {
  color: var(--p-color); 
  margin-bottom: 1;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5, 
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}


/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  background-size: cover;
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.1s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  background-size: cover;
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  background-size: cover;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  background-size: cover;
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}


/*---------------------------------------
  VIDEO              
-----------------------------------------*/
.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-color: var(--primary-color);
  background-size: cover;
  padding-top: 9px;
  padding-bottom: 9px;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 51px;
  z-index: 10; /* Ensure the navigation is above other content */
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--dark-color);
  background-size: cover;
}

.navbar {
  background: transparent;
  background-size: cover;
  z-index: 9;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 0px;
  padding: 0px 0px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 10px;
  height: 5px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
  background-size: cover;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  background-size: cover;
  transition: background 10ms 300ms ease;
  display: block;
  width: 5px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  background-size: cover;
  width: 100%;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 10px;
}

.navbar-nav .nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-toggler .navbar-toggler-icon {
  width: 10px;
}
/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: calc(100vh );
}

.hero-section small {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.45;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-bottom: 0;
  padding-top: 0;
}

.hero-section .container .row {
  height: 100%;
  padding-bottom: 0;
  padding-top: 0;
}


/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section {
  margin-top: 0;
  /* Add these properties to ensure proper visibility */
  background: none;
  padding-top: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   /* Add some padding to the section to see the transparency effect */
}



.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
}

.about-text-wrap {
  position: relative;
}

.about-text-icon {
  background: var(--primary-color);
  background-size: cover;
  border-radius: 100%;
  margin-top: 0;
  font-size: var(--h3-font-size);
  width: 70px;
  height: 70px;
  line-height: 20px;
  text-align: center;
}

.about-text-info {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: var(--border-radius-medium);
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0px;
  padding-top: 0;
  
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

/* Styles for .resume-title */



/* Styles for .resume-title */
.resume .resume-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  width: 100%; /* Set the title width to 100% to occupy the full width */
}


t2 {
  text-indent: 5em;
  background: rgb(255, 255, 255);
}
/* Styles for .resume-item */
.resume .resume-item {
  width: 100%; /* Set the item width to 100% to occupy the full width */
  margin: 0; /* Remove any margin that might affect the width */
  padding: 20px 20px 20px 20px; /* Add padding as needed */
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 15px;
  font-weight: 600;
  
  font-family: "Poppins", sans-serif;
  color: #18d26e;
  margin-bottom: 10px;
}

.resume .resume-item h44 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0f0d12;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}
/*---------------------------------------
  TICKET               
-----------------------------------------*/
.ticket-section {
  background-image: url('../images/nicholas-green-unsplash-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 130px;
}

.ticket-form {
  background: var(--white-color);
  background-size: cover;
  background-size: cover;
  border-radius: var(--border-radius-medium);
  padding: 50px;
}

.ticket-form .form-check {
  position: relative;
  min-height: 52px;
  padding-left: 35px;
}

.ticket-form .form-check .form-check-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 12px;
  margin-left: 35px;
  width: 100%;
  height: 100%;
}


/*---------------------------------------
  ARTISTS              
-----------------------------------------*/
.artists-thumb {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px; /* Add margin to create space between elements */
}

.artists-title {
  
  
  border-radius: var(--border-radius-medium);
  padding: 50px;
  margin: 5px;
  color: var(--white-color);
}

.artists-thumb:hover .artists-hover {
  background-color: rgba(84, 84, 83, 0.815);
  background-size: cover;
  border-radius: var(--border-radius-medium);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  padding: 50px;
  opacity: 1;
  max-height: 400px;
  overflow-y: auto;
  transform: translateY(0);
  transition: none;
  margin-top: 20px; /* Add margin to create space between elements */
}

.artists-hover p strong {
  color: var(--white-color);
  display: inline-block;
  min-width: 180px;
  margin-right: 20px;
}

.artists-hover p a {
  color: var(--white-color);
}

.artists-hover p a:hover {
  color: var(--white-color);
}

.artists-hover hr {
  margin: 1.5rem 0;
}

/*---------------------------------------
  list artist             
-----------------------------------------*/
.artists-thumb {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.artists-title {
  
  border-radius: var(--border-radius-medium);
  padding: 50px;
  margin: 5px;
  color: var(--white-color);
}

.artists-hover {
  
  border-radius: var(--border-radius-medium);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  padding: 50px;
  opacity: 1;
  max-height: 400px;
  overflow-y: auto;
  transform: translateY(0);
  transition: none;
  margin-top: 20px;
}

.artists-hover p strong {
  color: var(--white-color);
  display: inline-block;
  min-width: 180px;
  margin-right: 20px;
}

.artists-hover p a {
  color: var(--white-color);
}

.artists-hover p a:hover {
  color: var(--white-color);
}

.artists-hover hr {
  margin: 1.5rem 0;
}
/*---------------------------------------
  SCHEDULE              
-----------------------------------------*/


.education-list {
    list-style: none;
    padding: 0;
}

.education-list li {
    margin-bottom: 40px;
}

.education-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.education-list p {
    font-size: 16px;
    margin: 5px 0;
}

.education-diploma img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



/*---------------------------------------
  PRICING              
-----------------------------------------*/

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the items to the left */
}

.pricing-thumb {
  width: 100%;
  margin-bottom: 30px;
  border: none; /* Remove the border */
}

.pricing-list {
  padding-left: 20px;
}

.pricing-list-item {
  line-height: normal;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pricing-tag {
  background-color: var(--secondary-color);
  background-size: cover;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.pricing-tag span {
  font-size: 180%;
  line-height: normal;
}
/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  background-size: cover;
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  background-size: cover;
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--dark-color);
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

.site-footer-top {
  background-color: var(--secondary-color);
  background-image: url('../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer-bottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 60px;
}

.site-footer-title {
  color: var(--primary-color); 
}

.site-footer-link,
.copyright-text {
  color: var(--white-color);
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 50px;
  text-align: left; /* Align the social icons to the left */
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  background-size: cover;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  background-size: cover;
  color: var(--white-color);
}

.social-icon-link span {
  display: block;
}
.social-icon-link img {
  display: block;
}
.social-icon-link span:hover::before {
  animation: spinAround 2s linear infinite;
}
.social-icon-link img:hover::before {
  animation: spinAround 2s linear infinite;
}
@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {

    padding-top: 50px;
    padding-bottom: 50px;
  }
  
.navbar {
    background-color: var(--dark-color);
    background-size: cover;
}

.navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
}

.navbar-expand-lg .navbar-nav .nav-item {
    display: flex;
}

.navbar-expand-lg .navbar-nav .nav-link {
    white-space: nowrap;
}

  .hero-section {
    padding-top: 150px;
  }

  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr, 
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}



/*---------------------------------------
  NEW              
-----------------------------------------*/

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #f1f1f1;
  background-size: cover;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

.details {
  margin-left: 200px;
  padding: 20px;
  font-size: 16px;
  background-color: #eaeaea;
  background-size: cover;
  height: 100%;
}


#summary {
  background: #666;
  width: 100px;
  color: #fff;
}

#summary:hover {
  cursor: pointer;
  color: #fff200;
}

#detail {
  width: 300px;
  height: 300px;
  background: #fff200;
  display: none;
}


@media only screen and (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  h1 {
    font-size: var(--h1-font-size-sm); /* Define a new custom property for smaller screens */
  }
  h2 {
    font-size: var(--h2-font-size-sm);
  }
  /* ... */

  /* Adjust padding or margins for smaller screens if needed */
  .section-padding {
    padding-top: 50px;
  }
}

/* Add a media query for larger screens */
@media only screen and (min-width: 1200px) {
  /* Adjust font sizes for larger screens */
  h1 {
    font-size: var(--h1-font-size-lg); /* Define a new custom property for larger screens */
  }
  h2 {
    font-size: var(--h2-font-size-lg);
  }
  /* ... */

  /* Adjust padding or margins for larger screens if needed */
  .section-padding {
    padding-top: 50px;
  }
}



/* vspace*/
.VSPACE {
  margin-bottom: 200px; /* Adjust the value to control the space */
}

/* CV DOWNLOAD*/


button {
 
  padding: 3px 10px;
 
  background-color:#07ee95;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}